*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: arial, sans-serif;
    color: #181810;
    background-color: #fdfdfc;
}

body {
    margin: 12px;
}

verb {
    border: 1px solid lightgray;
    background-color: #F0F0F0;
    padding: 0 3px 0 2px;
}

table {
    border-collapse: collapse;
    margin: 1em 0 2em;
}

th, td {
    text-align: center;
    border: 2px solid #cdf;
    padding: 3px 5px;
}

th {
    background-color: #cdf;
}

input {
    font-family: arial, sans-serif;
}

input[type=text] {
    width: 16em;
}

a:link {
    color: #0810f0;
    text-decoration: none;
}

h1, h2 {
    font-family: Muli, verdana, arial, sans-serif;
    font-weight: normal;
}

.disclaimer {
    border: 1px solid gray;
    padding: 2px;
    background: #cdf;
    font-size: 120%;
}

.homePage h1, .homePage h2 {
    margin: 50px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1.center, h2.center, h3.center, h4.center, p.center {
    text-align: center;
}

.logoText {
    font-size: 22.8px;
    font-family: Muli, verdana, arial, sans-serif;
    vertical-align: 40%;
    margin: 5px;
}

.navBar {
    font-size: 14px;
    background-color: #7F9AC7;
    padding: 5px 12px;
    border-bottom: 4px solid #cdf;
    border-top: 4px solid #cdf;
    margin: 0 -12px;
    position: relative;
}

.navBar * {
    display: inline;
    color: #F7F4EB;
}

.pageLinks {
    list-style: none;
    position: absolute;
    margin: 0;
    bottom: 20%;
    right: 10%;
}

.pageLinks a:link {
    margin: 5px;
    color: #F7F4EB;
    text-decoration: underline;
}

.pageLinks a:hover {
    color: white;
}

.error, .error * {
    color: red;
}

.bold {
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.borderless {
    border: none;
}

.plainList {
    padding: 0;
    list-style: none;
}

.fragment {
    display: inline-block;
}

.columnBox {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: none;
    justify-content: flex-start;
}

.column {
    margin-right: 4em;
}

.fixed {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

.form-section {
    border: 2px solid gray;
}

.form-subsection {
    border: none;
    padding: 0;
    margin: 0.5em 0;
}

.form-section-title {
    font-weight: bold;
}

.form-section-title .help-link {
    font-weight: normal;
    margin-left: 5px;
}

.form-section-title .help-link.invisible {
    display: none;
}

.form-subsection .form-section-title {
    padding: 5px 0;
}

.form-element {
    position: relative;
}

.form-element label {
    display: inline-block;
    width: 10em;
}

.form-element.important label {
    font-weight: bold;
}

.checkbox-left input {
    position: absolute;
    left: 0;
}

.checkbox-left label {
    margin-left: 2em;
}

.inline {
    width: 30em;
}

.inline .form-element {
    display: inline-block;
}

.flush label {
    width: auto;
}

.wide label {
    width: 28em;
}

.narrow label {
    width: 8em;
}

.thumbnail {
    display: inline-block;
    height: 72px;
    width: 72px;
    color: gray;
}

.article {
    font-size: 16px;
    max-width: 50em;
}

.article ol {
    padding-left: 40px;
}

.article li {
    margin: 1ex 0;
}

.highlight {
    border: 1px solid lightgray;
    background: lightyellow;
    font-size: 100%;
    padding: 0 1em;
}

.person {
    font-variant: small-caps;
}

.unlist {
    margin-left: -40px;
}

.help {
    font-size: 16px; max-width: 25em;
}

dt {
    margin-top: 1ex;
    font-weight: bold;
}
