*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: proxima-nova, sans-serif;
    color: #181810;
    background-color: #fdfdfc;
}

body {
    margin: 12px;
    margin-top: 0;
}

verb {
    border: 1px solid lightgray;
    background-color: #F0F0F0;
    padding: 0 3px 0 2px;
}

table {
    border-collapse: collapse;
    margin: 1em 0 2em;
}

th, td {
    text-align: center;
    border: 2px solid #A5CFEC;
    padding: 3px 5px;
}

th {
    background-color: #A5CFEC;
}

p, li {
    text-align: justify;
}

input, select, button {
    font-size: 100%;
}

input[type=text] {
    width: 16em;
}

.wideTextfields input[type=text] {
    width: 24em;
}

a:link {
    color: #0810f0;
    text-decoration: none;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    margin: 0 -12px;
    color: white;
    padding: 10px 12px 22px;
    background: -webkit-linear-gradient(top, #0071BC 12%, white);
    background: linear-gradient(to bottom, #0071BC 12%, white);
    text-shadow: 1px 1px 4px #0071BC, 2px 2px 8px #0071BC;
}

.disclaimer {
    border: 1px solid lightgray;
    padding: 2px;
    background: #A5CFEC;
    font-size: 120%;
    text-align: center;
}

.homePageLogo {
    clear: both;
    background: -webkit-linear-gradient(top, #0071BC 12%, white);
    background: linear-gradient(to bottom, #0071BC 12%, white);
    padding: 40px 10%;
    min-height: 450px;
    margin: 0 -12px;
}

.homePageLogo p {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 57px;
    line-height: 68px;
    text-align: center;
    font-weight: 300;
    width: 60%;
    text-shadow: 2px 2px 6px #0071BC, 3px 3px 10px #0071BC;
}

.homePageLogo img {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

.partnerLogos {
    clear: both;
    margin: 50px 0 150px;
}

.partnerLogos figure {
    vertical-align: top;
    display: inline-block;
    margin: auto;
    width: 25%;
}

.partnerLogos img {
    width: 100%;
    margin: 0 auto;
    height: 64px;
}

.partnerLogos figcaption {
    align: center;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1.center, h2.center, h3.center, h4.center, p.center, figcaption.center {
    text-align: center;
}

.centeredText {
    text-align: center;
}

.header {
    position: relative;
    margin: 0;
}

.header * {
    display: inline;
}

.header .pageLinks {
    position: absolute;
    right: 0;
    margin: 0;
}

.header .mirrors {
    position: absolute;
    right: 0;
    bottom: -1.5em;
    margin: 0;
    padding: 0;
}

.header li {
    margin-left: 0.5em;
    color: gray;
}

.header .mirrors li {
    color: #181810;
}

.header a:link, .header a:visited {
    color: #181810;
}

.header a:hover, .header .active {
    color: gray;
}

.header .mirrors a:hover, .header .mirrors .active {
    color: white;
}

.logoText {
    font-size: 53px;
    margin: 0;
    padding: 0;
}

.contactInfo {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 100;
    background-color: lightyellow;
    padding: 2px;
    border: 1px solid lightgray;
}

.pageLinks {
    display: inline;
    text-align: right;
    list-style: none;
    margin: 0;
    margin-top: 1ex;
}

@media (min-width: 800px) {
    .pageLinks {
        display: inline;
        position: absolute;
        bottom: 20%;
        right: 10%;
        margin-top: 0;
    }
}

.pageLinks a:link {
    margin: 5px;
    font-size: 16px;
    vertical-align: 50%;
}

.error, .error * {
    color: red;
}

.bold {
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.borderless {
    border: none;
}

.plainList {
    padding: 0;
    list-style: none;
}

.fragment {
    display: inline-block;
}

.columnBox {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: none;
    justify-content: flex-start;
}

.column {
    margin-right: 4em;
}

.fixed {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

.form-section {
    border: 1px solid #A5CFEC;
    background-color: #E1F3FF;
}

.form-subsection {
    border: none;
    padding: 0;
    margin: 0.5em 0;
}

.form-section-title {
    font-weight: bold;
    display: none;
}

.form-subsection .form-section-title {
    display: inline;
}

.form-section-title .help-link {
    font-weight: normal;
    margin-left: 5px;
}

.form-section-title .help-link.invisible {
    display: none;
}

.form-subsection .form-section-title {
    padding: 5px 0;
}

.form-element {
    position: relative;
}

.form-element label {
    display: inline-block;
    width: 12em;
}

.form-element.important label {
    font-weight: bold;
}

.checkbox-left input {
    position: absolute;
    left: 0;
}

.checkbox-left label {
    margin-left: 2em;
}

.inline {
    width: 30em;
}

.inline .form-element {
    display: inline-block;
}

.flush label {
    width: auto;
}

.wide label {
    width: 28em;
}

.narrow label {
    width: 10em;
}

.resultsMessage {
    margin: 10px 0 -10px;
    color: gray;
}

.thumbnail {
    display: inline-block;
    height: 72px;
    width: 72px;
    color: gray;
}

.article {
    font-size: 16px;
    max-width: 50em;
    margin: 2em auto;
}

.article ol {
    padding-left: 40px;
}

.article li {
    margin: 1ex 0;
}

.highlight {
    border: 1px solid lightgray;
    background: lightyellow;
    font-size: 100%;
    padding: 0 1em;
}

.person {
    font-variant: small-caps;
}

.unlist {
    margin-left: -40px;
}

.help {
    font-size: 16px;
    max-width: 25em;
}

.tooltip .help {
    font-size: 100%;
    font-weight: normal;
    max-width: 30em;
}

dt {
    margin-top: 1ex;
    font-weight: bold;
}

.active {
    background: lightyellow;
}

.TabsList {
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 1px;
    border-bottom: 1px solid gray;
    list-style: none;
}

.TabsItem {
    display: inline;
    padding: 3px 15px 1px 15px;
    border: 1px solid gray;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color: lightyellow;
    margin-right: 2px;
}

.TabsSelected {
    border-bottom-color: #fdfdfc;
    background-color: inherit;
}

.TabsPanel {
    padding: 10px;
}

.meter {
    display: inline-block;
    height: 15px;
    position: relative;
    background: #A5CFEC;
    border: 1px solid gray;
}

.meter > span {
    display: inline-block;
    height: 100%;
    background: #0071BC;
}

.hSep-1em {
    margin-left: 1em;
    margin-right: 1em;
}

.inlineFigure {
    display: inline-block;
    margin: 1ex 1em;
}

.leftAlign {
    text-align: left;
}

.withDeleteIcon {
    position: relative;
}

.deleteIcon {
    display: none;
    position: absolute;
    top: 0;
    right: -16;
    z-index: 5;
}

.withDeleteIcon:hover .deleteIcon {
    display: inline-block;
}

.noOutline:focus {
    outline: none;
}

.inlineBlock {
    display: inline-block;
}

.overlay {
    z-index: 5;
    box-shadow: 2px 2px 5px lightgray;
}
